[[extend 'layout.html']]

[[ import datetime ]]
[[ import locale ]]
    <div class="container ">
    
                   
        <div id="py4web-flash"></div>
    
        
        <h2 class="title">[[ =T(" Reservation Detail ") ]]</h2>
        
        <div class="tile is-ancestor is-vertical" >
            
            <div class="tile  is-parent">
         
                <div class="tile  is-child box is-1">
                    <div class="field">
                        <label class="label" for="rooms_number">[[ =T("Number") ]]</label>
                        <div class="control">
                            <div class="">[[ =room.rooms.number ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile  is-child box is-2">
                    <div class="field">
                        <label class="label" for="rooms_description">[[ =T("Description") ]] </label>
                        <div class="control">
                            <div class="">[[ =room.rooms.description ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-2 ">
                    <div class="field">
                        <label class="label" for="rooms_category">[[ =T("Category") ]]</label>
                        <div class="control">
                            <div class="">[[ =room.rooms_category.category ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                       
           
            
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Formula") ]]</label>
                        <div class="control">
                            <div class="">[[  =room.formula.name ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Tariff") ]]</label>
                        <div class="control">
                            <div class="">[[ =locale.format_string('%.0f CFA', room.formula.tariff, grouping=True, monetary=True)]]</div>
                            
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            </div>
            
            <div class="tile  is-parent">
            
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Check In") ]]</label>
                        <div class="control">
                            <div class="">[[  =datetime.datetime.strftime(room.reservation.check_in,  "%d/%m/%Y %H:%M") ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Check Out") ]]</label>
                        <div class="control">
                            <div class="">[[  =datetime.datetime.strftime(room.reservation.check_out,  "%d/%m/%Y %H:%M")  ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Created by") ]]</label>
                        <div class="control">
                            <div class="">[[  =username.first_name + '  ' + username.last_name ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Last Update") ]]</label>
                        <div class="control">
                            <div class="">[[  =datetime.datetime.strftime(room.reservation.last_update,  "%d/%m/%Y %H:%M:%S")  ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            </div>
             <div class="tile  is-parent">
            
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Total Nigth") ]]</label>
                        <div class="control">
                            <div class="">[[  =room.reservation.total_nigth]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child notification is-info is-2 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Total Amount") ]]</label>
                        <div class="control">
                            <div class="">[[ =locale.format_string('%.0f CFA', room.reservation.total_amount, grouping=True, monetary=True) ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                
             </div>
             <div class="tile  is-parent">
            
                <div>&nbsp;</div>
                <div class="tile is-child notification  is-6">
            
                <h2 class="subtitle">[[ =T("Room Control Settings") ]]</h2>
                </div>
            </div>
            
            <div class="tile  is-parent">
            
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" >[[ =T("Plug") ]]</label>
                        <input type="checkbox" disabled [[ ='checked' if controls["plug"] else '' ]] >                        
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Start") ]]</label>
                        <div class="control">
                            <div class="">[[  =controls["plug_start"] ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Stop") ]]</label>
                        <div class="control">
                            <div class="">[[ =controls["plug_stop"] ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            </div>
            
            <div class="tile  is-parent">
            
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" >[[ =T("Ligth") ]]</label>
                        <input type="checkbox" disabled [[ ='checked' if controls["ligth"] else '' ]] >                        
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Start") ]]</label>
                            <div class="">[[  =controls["ligth_start"] ]]</div>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Stop") ]]</label>
                            <div class="">[[ =controls["ligth_stop"] ]]</div>
                    </div>
                </div>
            </div>
            <div class="tile  is-parent">
            
                <div class="tile is-child box is-2 ">

                    <div class="field">
                        <label class="label" >[[ =T("A.C.") ]]</label>
                        <input type="checkbox" disabled [[ ='checked' if controls["ac"] else '' ]] >                        
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Start") ]]</label>
                        <div class="control">
                            <div class="">[[  =controls["ac_start"] ]]</div>
                        </div>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Stop") ]]</label>
                        <div class="control">
                            <div class="">[[ =controls["ac_stop"] ]]</div>
                        </div>
                    </div>
                </div>
            </div>
                        
           
                        
        </div>
        <div class="field">
                    <div class="control">
                        <a class="button is-success" href="[[=URL('reservation/reservation')]]">[[ =T("Return") ]]</a>
                    </div>
                </div>
    </div>

[[block page_scripts]]<!-- individual pages can add scripts here -->
<script src="js/utils.js"></script>
[[if globals().get('flash'):]]
<script>utils.flash([[=XML(flash)]]);</script>
[[pass]]

[[end]]

