[[extend 'layout.html']]


    <div class="container ">
    
                   
        <div id="py4web-flash"></div>
    
        
        <h2 class="title">[[ =T("Reservation History Filter") ]]</h2>
        
        <div class="tile is-ancestor is-vertical" >
            
           
                        
        </div>
       [[ = form]]
    </div>

[[block page_scripts]]<!-- individual pages can add scripts here -->
<script>

start = document.getElementById("no_table_date_start")

start.innerHTML = [[ =start ]]






</script>

[[end]]

