[[extend 'layout.html']]


    <div class="container ">
    
        
        <h2 class="title">[[ =T("Reservation : Select Room") ]]</h2>

  
        [[if 'action' in request.url_args and request.url_args['action'] in ['details', 'edit']:]]
            [[form = grid.render()]]
            [[=form]]
        [[else:]]
            [[=grid.render()]]
        [[pass]]
        
        <div class="field">
                    <div class="control">
                        <a class="button is-success" href="[[=URL('reservation/reservation')]]">[[ =T("Return") ]]</a>
                    </div>
                </div>
    </div>


