[[extend 'layout.html']]

[[ import datetime ]]
[[ import locale ]]

 [[ T.select(language)  ]]
 
<div class="container ">
    
                   
        <div id="py4web-flash"></div>
    
        
        <h2 class="title">[[ =T("Confirm Clean") ]]</h2>
        
        <div class="tile is-ancestor is-vertical" >
            
            <div class="tile  is-parent">
         
                <div class="tile  is-child box is-3">
                    <div class="field">
                        <label class="label" for="rooms_number">[[ =T("Number") ]]</label>
                        <div class="control">
                            <div id="room" class="">[[ =room.rooms.number ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile  is-child box is-3">
                    <div class="field">
                        <label class="label" for="rooms_description">[[ =T("Description") ]]</label>
                        <div class="control">
                            <div class="">[[ =room.rooms.description ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">
                    <div class="field">
                        <label class="label" for="rooms_category">[[ =T("Category") ]]</label>
                        <div class="control">
                            <div class="">[[ =room.rooms_category.category ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                       
            </div>
            
                
            
            <div class="tile  is-parent">
            
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Check In") ]]</label>
                        <div class="control">
                            <div class="">[[  =datetime.datetime.strftime(room.maintenance.check_in,  "%d/%m/%Y %H:%M") ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Check Out") ]]</label>
                        <div class="control">
                            <div class="">[[  =datetime.datetime.strftime(room.maintenance.check_out,  "%d/%m/%Y %H:%M")  ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Status") ]]</label>
                        <div class="control">
                            <div class="">[[  =room.status.status  ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            
            </div>
            <div class="tile  is-parent">
            
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Time for maintenance") ]]</label>
                        <div class="control">
                            <div class="">[[  =str(room.rooms_category.maintenance_time)+' Min.' ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Start at") ]]</label>
                        <div class="control">
                            <div id="data_start" class="">[[  =datetime.datetime.strftime(room.maintenance.start_maintenance,  "%d/%m/%Y %H:%M") ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Stop at")  ]]</label>
                        <div class="control">
                            <div id="data_stop" class="">[[  =datetime.datetime.strftime(room.maintenance.stop_maintenance,  "%d/%m/%Y %H:%M") ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            </div>
            <div class="tile  is-parent">
                <div class="tile is-child box is-3 ">
                    <div class="field">
                        <label class="label" for="add_time">[[ =T("Additional Time") ]]</label>
                        <div class="control">
                            <div id="add_time" class="">[[ =str(room.maintenance.add_time)+" Min." ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                
                <div class="tile is-child box is-2 ">
                   <div class="field">
                        <div class="control">
                            <a class="button is-success" onclick="confirm_data()">[[ =T('Confirm') ]]</a>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-4 ">
                   <div class="field">
                        <div class="control">
                            <a class="button is-default" onclick="window.history.back()">[[ =T('Cancel') ]]</a>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            </div>
            
        </div>
       
        
    </div>
    
    
<script>

function confirm_data() {
    
    let confirm_send 

    if (confirm(' [[ =T("Confirm Clean ?") ]] ') ) {
               confirm_send = true;
            }
            else {
                confirm_send = false;
            }
    
    
    if (confirm_send) {
       
        // return to url
        var url = new URL(window.location.href);
        url.searchParams.append('confirm', 'True');
        url.searchParams.append('id', [[ =room.maintenance.id ]] );
        url.searchParams.append('room_id', [[ =room.maintenance.room ]]);
       
        //console.log(url)
        window.location.href = url;
      
    }
    
}


</script>


