[[extend 'layout.html']]

[[ import datetime ]]
[[ import locale ]]

 [[ T.select(language)  ]]

<div class="container ">
    
                   
        <div id="py4web-flash"></div>
    
        
        <h2 class="title">[[ =T(" Add Time to  Clean ") ]]</h2>
        
        <div class="tile is-ancestor is-vertical" >
            
            <div class="tile  is-parent">
         
                <div class="tile  is-child box is-3">
                    <div class="field">
                        <label class="label" for="rooms_number">[[ =T("Number") ]]</label>
                        <div class="control">
                            <div id="room" class="">[[ =room.rooms.number ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile  is-child box is-3">
                    <div class="field">
                        <label class="label" for="rooms_description">[[ =T("Description") ]] </label>
                        <div class="control">
                            <div class="">[[ =room.rooms.description ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">
                    <div class="field">
                        <label class="label" for="rooms_category">[[ =T("Category") ]]</label>
                        <div class="control">
                            <div class="">[[ =room.rooms_category.category ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                       
            </div>
            
                
            
            <div class="tile  is-parent">
            
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Check In") ]]</label>
                        <div class="control">
                            <div class="">[[  =datetime.datetime.strftime(room.maintenance.check_in,  "%d/%m/%Y %H:%M") ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Check Out") ]]</label>
                        <div class="control">
                            <div class="">[[  =datetime.datetime.strftime(room.maintenance.check_out,  "%d/%m/%Y %H:%M")  ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Status") ]]</label>
                        <div class="control">
                            <div class="">[[  =room.status.status  ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            
            </div>
            <div class="tile  is-parent">
            
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Time for maintenance") ]]</label>
                        <div class="control">
                            <div class="">[[  =str(room.rooms_category.maintenance_time)+' Min.' ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Start at") ]]</label>
                        <div class="control">
                            <div id="data_start" class="">[[  =datetime.datetime.strftime(room.maintenance.start_maintenance,  "%d/%m/%Y %H:%M")  ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-3 ">

                    <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Stop at")  ]]</label>
                        <div class="control">
                            <div id="data_stop" class="">[[  =datetime.datetime.strftime(room.maintenance.stop_maintenance,  "%d/%m/%Y %H:%M") ]]</div>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            </div>
           
            <div class="tile  is-parent">
                <div class="tile is-child box is-2 ">
                   <div class="field">
                        <label class="label" for="ligth">[[ =T("Ligth") ]]</label>
                        <div class="control">
                            <input id="ligth" type="checkbox" checked>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-2 ">
                   <div class="field">
                        <label class="label" for="plug">[[ =T("Plug") ]]</label>
                        <div class="control">
                            <input id="plug" type="checkbox">
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-2 ">
                   <div class="field">
                        <label class="label" for="rooms_status">[[ =T("Add.min.") ]]</label>
                        <div class="control">
                            <input id="add_time" class="input" type="number" min="0" max="30" step="5" value="0" onchange="update_min()">
                        </div>
                    </div>
                </div>              
                
                <div class="tile is-child box is-1">
                   <div class="field">
                        <div class="control">
                            <a class="button is-success" onclick="confirm_data()">[[ =T('Confirm') ]]</a>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
                <div class="tile is-child box is-2 ">
                   <div class="field">
                        <div class="control">
                            <a class="button is-default" onclick="window.history.back()">[[ =T('Cancel') ]]</a>
                        </div>
                        <p class="help"></p>
                    </div>
                </div>
            </div>
            
        </div>
       
        
    </div>
    
    
<script>
    
    function padTo2Digits(num) {
      return num.toString().padStart(2, '0');
    }
    
    function formatDate(date) {
      return (
        [
          padTo2Digits(date.getDate()),
          padTo2Digits(date.getMonth() + 1),
          date.getFullYear()
        ].join('/') +
        ' ' +
        [
          padTo2Digits(date.getHours()),
          padTo2Digits(date.getMinutes())
          //padTo2Digits(date.getSeconds()),
        ].join(':')
      );
    }
  
    
    let data_start, data_stop,plug,ligth,room, add_time, data_stop_original

    room = document.getElementById('room').innerHTML
    data_start = document.getElementById('data_start').innerHTML
    data_stop = document.getElementById('data_stop').innerHTML
    data_stop_original = document.getElementById('data_stop').innerHTML
    plug = document.getElementById('plug').checked
    ligth = document.getElementById('ligth').checked
    add_time = document.getElementById('add_time').value

    
    var add_minutes =  function (dt, minutes) {
        return new Date(dt.getTime() + minutes*60000);
        }
    
    
    function update_min() {
      const x = document.getElementById("data_stop");
      add_time = document.getElementById('add_time').value
      new_data_stop = data_stop_original.substring(6,10)+"-"+data_stop_original.substring(3,5)+"-"+
                        data_stop_original.substring(0,2)+data_stop_original.substring(10,16)
      data1 = add_minutes(new Date(new_data_stop), add_time)
      //console.log("---update_min----");
      data_stop = formatDate(data1)
      //console.log(add_time);
      //console.log(data_stop);
      x.innerHTML = data_stop;
      //console.log("------------");
    }

function confirm_data() {
    
    let confirm_send 

    if (confirm(' [[ =T("Send data to control Rooms ?") ]] ') ) {
               confirm_send = true;
            }
            else {
                confirm_send = false;
            }
    
    // send data to control
    if ((confirm_send) && (document.getElementById('plug').checked || document.getElementById('ligth').checked )) {
       
        var controls = {};
                                            
        controls["room"] = room;             
        controls["plug"] = document.getElementById('plug').checked ? "1" :"0" 
        controls["plug_start"] = document.getElementById('plug').checked ?data_start:null
        controls["plug_stop" ] = document.getElementById('plug').checked ?data_stop:null
        controls["ligth"] = document.getElementById('ligth').checked ? "1" :"0"  
        controls["ligth_start"] = document.getElementById('ligth').checked ?data_start:null
        controls["ligth_stop" ] = document.getElementById('ligth').checked ?data_stop:null
        // console.log(controls)
        json_object = JSON.stringify(controls)
        console.log(json_object)
        
        sendControl(JSON.parse(json_object))
   
        // return to url
        var url = new URL(window.location.href);
        url.searchParams.append('id', [[ =room.maintenance.id ]] );
        url.searchParams.append('room', room);
        url.searchParams.append('data_start', data_start);
        url.searchParams.append('data_stop', data_stop);
        url.searchParams.append('add_time', add_time);
        url.searchParams.append('plug', plug);
        url.searchParams.append('ligth', ligth);
        
        window.location.href = url;
 
    }
}

</script>

<script src="js/paho-mqtt-min.js"></script>
<script src="js/proto.js"></script>


