 <aside class="sidebar">
        
    <nav class="sidebar-nav">
 
      <ul>
        <li>
          <a href="#"><i class="fa fa-home aria-hidden="true"></i> <span>Dashboard</span></a>
          <ul class="nav-flyout">
            
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-bed"></i> <span class="">Hotel Rooms</span></a>
          <ul class="nav-flyout">
            
          </ul>
        </li>
        <li>
          <a href="#"><i class="ion-ios-briefcase-outline"></i> <span class="">Reservations</span></a>
          <ul class="nav-flyout">
            
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-users aria-hidden="true"></i> <span class="">HRM</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="fa fa-user" ></i>Staff</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-dollar-sign"></i>Payrolls</a>
            </li>
            
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-cog aria-hidden="true"></i> <span class="">System</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="fa fa-user"></i>User</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-id-card"></i>Profile</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-globe"></i>Language</a>
            </li>
            
          </ul>
        </li>
        
       
      </ul>
    </nav>
  </aside>
