[[extend 'layout.html']]


    <div class="container ">
    
        
       <div class="container ">
           
           <div id="py4web-flash"></div>
    
        
        <h2 class="title">[[ =T("New Reservation") ]]</h2>
        
            [[ = form]]
                
        </div>
      
    </div>

[[block page_scripts]]<!-- individual pages can add scripts here -->
<script src="js/utils.js"></script>
[[if globals().get('flash'):]]
<script>utils.flash([[=XML(flash)]]);</script>
[[pass]]

[[end]]

