[[extend 'layout.html']]


    <div class="container ">
    
        
        <h2 class="title">PROTOTYPE</h2>
        
        
        <div class="tile is-ancestor" >

  
            <div class="tile is-child  notification is-info  is-3">
                <h3 class="title is-5">Plug</h3>
                <div class="control">
                    <p> Set</p>
                  <label class="radio">
                    <input type="radio"  name="plug" value="1"  onclick="handleClick(this,'PLUG')">
                    On
                  </label>
                  <label class="radio">
                    <input type="radio"  name="plug" value="0"  onclick="handleClick(this,'PLUG')">
                    Off
                  </label>
                 <div>&nbsp;</div>
                  <p> Status</p>
                  <label class="radio">
                    <input type="radio" id="plug-on" name="plug-status" disabled>
                    On
                  </label>
                  <label class="radio">
                    <input type="radio" id="plug-off"name="plug-status" disabled>
                    Off
                  </label>
                  
                </div>
            </div>
            
            
        <div class="tile is-child  notification is-info is-3">
            <h3 class="title is-5">Ligth</h3>
            <div class="control">
                <p> Set</p>
              <label class="radio">
                <input type="radio" name="ligth" value="1"  onclick="handleClick(this,'LIGTH')" >
                On
              </label>
              <label class="radio">
                <input type="radio" name="ligth" value="0"  onclick="handleClick(this,'LIGTH')" >
                Off
              </label>
             <div>&nbsp;</div>
              <p> Status</p>
              <label class="radio">
                <input type="radio" id="ligth-on" name="ligth-status" disabled>
                On
              </label>
              <label class="radio">
                <input type="radio" id="ligth-off" name="ligth-status" disabled>
                Off
              </label>
              
            </div>
        
        </div>
        <div class="tile is-child  notification is-info is-3">
            <h3 class="title is-5">A.C.</h3>
            <div class="control">
                <p> Set</p>
              <label class="radio">
                <input type="radio" name="ac" value="1"  onclick="handleClick(this,'AC')" >
                On
              </label>
              <label class="radio">
                <input type="radio" name="ac" value="0"  onclick="handleClick(this,'AC')" >
                Off
              </label>
             <div>&nbsp;</div>
              <p> Status</p>
              <label class="radio">
                <input type="radio" id="ac-on"name="ac-status" disabled>
                On
              </label>
              <label class="radio">
                <input type="radio" id="ac-off"name="ac-status" disabled>
                Off
              </label>
              
            </div>
        
        </div>
        <div class="tile is-child  notification is-info is-3">
            <h3 class="title is-5">Temp.</h3>
            
              <p> Temperature</p>
              <span id="temp" > ...</span>
              <p> Humidity</p>
              <span id="hum" > ...</span>
              
           
        </div>
        
        
        
    </div>


[[block page_scripts]]<!-- individual pages can add scripts here -->

  <script src="js/paho-mqtt-min.js"></script>
 
  
  <script>
  


// called when the client connects
function onConnect() {
  // Once a connection has been made, make a subscription and send a message.
  console.log("onConnect");
  client.subscribe("DOMHOTEL/H001/#");
  message = new Paho.MQTT.Message("Hello");
  message.destinationName = "World";
  client.send(message);
}

// called when the client loses its connection
function onConnectionLost(responseObject) {
  if (responseObject.errorCode !== 0) {
    console.log("onConnectionLost:"+responseObject.errorMessage);
  }
}

// called when a message arrives
function onMessageArrived(message) {
  console.log("onMessageArrived:"+message.payloadString);
}
  
  console.log("create client")
// Create a client instance

client = new Paho.MQTT.Client('test.mosquitto.org',1883,'/mqtt','pippo');
 
  
// set callback handlers
client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// connect the client
client.connect({onSuccess:onConnect});
  
 console.log(client)
  
  function handleClick(myRadio, compo) {
      
      console.log("nnnn")
      }
  
  
  
  
  
  </script>


[[end]]
