<aside class="menu">
  
  <ul class="menu-list">
    <li>
        <a>
        <span class="icon-text">
            <span class="icon">
                <i class=" fa fa-home aria-hidden="true"></i>
            </span>
            <span>Dashboard</span>
        </span>
        </a>
    </li>
    <li><a>Hotel Rooms</a></li>
  </ul>
 
  <ul class="menu-list">
    <li>
        
        <a>Reservations</a></li>
    <li>
      <a class="is-active">
          <span class="icon-text">
              <span class="icon">
                <i class=" fa fa-users aria-hidden="true"></i>
             </span>
             <span>HRM</span>
          </span>
      </a>
      <ul>
        <li><a  href="[[=URL('staff/list')]]">Staff</a></li>
        <li><a>Payrolls</a></li>
      </ul>
    </li>
   
  </ul>
  
  
</aside>
    
